fastapi == 0.111.0
logging == 0.4.9.6

'''
Возникшие проблемы при разработке:
1)Статический HTML файл не мог существовал для FastApi
Решение:
    Удалил из пути папку самого проекта и оставил только сам файл, сам файл в папке с проектом.


'''
